extends layout

block content
    h1= title

    ul
        each href in hrefs
            li
                a(href=href, class = "postTitle") title
    
    a(href="/forum/writingpost")
        button(type="button") new post
    script. 
        titles= "#{titles}";
        var i = 0;
        var titles = titles.split(",");
        var elements = document.getElementsByClassName("postTitle");
        for (element of elements) {
            element.innerHTML = titles[i++];
        }