doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='icon' href='/assets/img/brand/favicon.png' type='image/png')
        link(rel='stylesheet' href='/assets/libs/@fortawesome/fontawesome-free/css/all.min.css')
        link#stylesheet(rel='stylesheet' href='/assets/css/quick-website.css')
        script(src='/assets/js/jquery.min.js')
        script(src='/assets/js/react.min.js')
        script(src='/assets/js/react-dom.min.js')
        script(src='/assets/js/babel.min.js')
        script(src='/assets/js/bootstrap.min.js')
        script(src='/assets/js/require.min.js')
        script. 
            $.ajax({url : "/user/checkcookie",method : "GET"}).then(
                function (res) {
                    if (res && !res.error){
                        document.getElementById("Profile").href = '/user/' + res._id + '/profile';
                    }
                }
            );
        style.
            #header-main{
                display:block;
            }
    body

    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='/')
            img#navbar-logo(src='/assets/img/Cyberium.png')
            // Toggler
        button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbar-main-collapse' aria-controls='navbar-main-collapse' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
            // Collapse
        div#navbar-main-collapse.collapse.navbar-collapse
            ul.navbar-nav
                a.nav-item.nav-link(href='/forum#troubleShooting') Trouble Shooting
                a.nav-item.nav-link(href='/forum#discussion') Discussion
                a.nav-item.nav-link(href='/forum#news') Trending News
            ul.navbar-nav.align-items-lg-center.d-lg-flex.ml-lg-auto
                a#Profile.nav-item.loginonly.nav-link(href='/', style='display:none;') Profile
                a.nav-item.logoutonly.btn.btn-sm.btn-primary.btn-icon.ml-3(style='display: none;', href='/user#login') Sign In
                a.nav-item.loginonly.btn.btn-sm.btn-primary.btn-icon.ml-3(style='display: none;', href='/user#login', onclick='javascript:$.ajax({url : "/user/logout",method : "GET"})') Sign Out
    script
        include check-login.js

block content
