extends layout

block content
    h1 User Login
    form(method="POST" action="/user/login")
        div
            label User Name:
            input(type='text', name='username')
        div
            label Password:
            input(type='password', name='password')
        button(type='submit') Login
        a(href="/user/signup")
            button(type='button') Sign Up
    h1 incorrect user name or password