extends layout
block content
    h1= title

    form(method="POST" action="/forum/posting")
        div
            label Title:
            input(type='text', name='title')
        div
            label Content:
            textarea(name="content", cols="30", rows="10")
        button(type='submit') Post